body{
    min-width: 500px;
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    padding: 20px;
    background-color: #E1E5F8;
}

h1, h2, h3, p{
    font-family: sans-serif;
    line-height: 10px;
    display: inline;
}

p{
    word-wrap: break-word;
}
h1{
    margin: 10px;
}

li{
    list-style: none;
}

a{
    color: #000000;
    -webkit-transition: linear .5s;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 20px;
    text-decoration: none;
}
a:hover{
    color: #CCCCCC;
}

ul{
    padding-left:0;
}
#postLabel{
    margin-top:5px;
}
#newPost{
    width: 630px;
    max-width: 630px;
}
.thread, .category{
    border-style: solid;
    border-width: 1px;
    padding: 5px;
}
.thread{
    margin: 5px;
    background-color: #A7DBA7;
}
.category{
    background-color: #EDCEED;
}
img{
    max-width: 650px;
}
.postid{
    display:block;
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 10px;
}