extend layout
block content
    form(action="/post-entry" method="post" enctype="multipart/form-data")
        table
            tbody
                tr(align="left")
                    th(class = "category"): label(for="post[user]") Name
                    th: input(type="text" name="post[user]" placeholder="Name" maxlength="50")
                tr(align="left")
                    th(class = "category"): label(for="post[content]" id="postLabel" maxlength="500") Post
                    th: textarea(type="text" id = "newPost" name="post[content]" placeholder="What do you want?" required)
                tr(align="left")
                    th(class = "category"): label(for="image") Image
                    th: input(type="file" name="image" accept="image/*" )
        input(type="submit" value="Share")
    .posts
        if posts
            each val in posts
                .thread
                    p(class="postid")
                        | id:
                        = val._id
                    h3= val.name
                    | &nbsp;
                    p= val.body
                    if val.image
                        br
                        img(src=val.image)