extend layout
block content
    form(action="/post-entry" method="post")
        ul
            li: input(type="text" name="post[user]" placeholder="Name")
            li: textarea(type="text" name="post[content]" placeholder="What do you want?")
            li: input(type="submit" value="Share")
    .posts
        dl
            if posts
                each val in posts
                    dt: h3= val.name
                    dd: p= val.body