!!!5
html
    head
        title #{title}
        link(rel='stylesheet', href='/stylesheets/style.css')
    body
        header
            h1 Expressr
            br
            if boards
                each val in boards
                    a(href ="#")= val
                    |/
        .container
            .main-content
                block content
            .sidebar
            block sidebar